body{
    font: optional;
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
    text-align: center;
    text-shadow: 0cap;
    font-style: oblique;
    font-variant: inherit;
}
